[Desktop Entry]
Exec=/usr/bin/code --enable-features=UseOzonePlatform --ozone-platform=wayland %F

[Desktop Action new-empty-window]
Exec=/usr/bin/code --enable-features=UseOzonePlatform --ozone-platform=wayland --new-window %F
